.sidebarChat {
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
  background-color: white;
}

.sidebarChat:hover {
  background-color: #ebebeb;
}

.sidebarChat__info > h3 {
  font-size: 15px;
  margin-top: 20px;
}

.sidebarChat__info > p {
  font-size: 12px;
  margin-top: -15px;
}

.chatAvatar {
  padding: 15px;
}

.sidebarChat__info {
  margin-left: 5px;
  height: 20px;
}
